@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('ttf');
}

:root {
    --black-color: #1e90ff;
    --light-black-color: #2e3134;
    --blue-color: #0069d2;
    --shadow-color: #2e313466;
    --white-color: #ffffff;
    --default-font: "Open Sans";
}